<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2>Welcome to Dashboard</h2>

        <div>
            
<!DOCTYPE html>
<html lang="en">
<head>
    </head>
    <body>
        
        <a href="/sub_master">Substaion  Master</a><br><br>
        <a href="/feeder_master">Feeder Master</a><br><br>
        <a href="/dtc_master">DTC Master</a><br><br>
        <a href="/feeder_meter_reading">Feeder Meter Reading</a><br><br>
        <a href="/dtc_meter_reading">Dtc Meter Reading</a><br><br>
        <a href="/dtc_energy_audit">Dtc Entergy Audit</a><br><br>
        <a href="/drop">index</a><br><br>
        <p><b>Login Email</b> - <%=email %></p>
        <p><a href="/logout">Logout</a></p>


</form>

    </body>
</html>