<!DOCTYPE html>
<html>
    <head>
        <title>DTC Master</title>
    </head>
    <body>
        <h2>Enter DTC data</h2>

        <div>
            
<!DOCTYPE html>
<html lang="en">
<head>
    </head>
    <body>
        <form method="post" action="dtcsubmit">
            <select name="ss_code" id="ss_code" class="form-control">
                <option value="">Select substation code</option>
                <% for(var count = 0; count < ss_code.length; count++) { %>
    
                <option value="<%= ss_code[count].ss_code %>"><%= ss_code[count].ss_code %></option>
    
                <% } %>
            </select>
            <select name="feed_code" id="feed_code" class="form-control">
                <option value="">Select feeder</option>
            </select>

        <input type="number" placeholder="dtc_code" id="dtc_code" name="dtc_code"><br><br>
        <input type="text" placeholder="dtc_name" id="dtc_name" name="dtc_name"><br><br>
        <input type="number" placeholder="load_dtc" id="load_code" name="load_dtc"><br><br>
        <input type="number" placeholder="number_of_consumer" id="number_of_consumer" name="number_of_consumer"><br><br>
        <input type="number" placeholder="monthmax" id="monthmax" name="monthmax"><br><br>
        <button type="submit">Submit</button>
        
    

        
     


</form>

    </body>
    
</html>
<script>
   
        
    function _(element)
    {
        return document.getElementById(element);
    }
    function fetch_data(parent_element, child_element, type)
{
fetch('/get_data?type='+type+'&parent_value='+parent_element.value+'').then(function(response){
    return response.json();
}).then(function(responseData){

    var html = '';

    if(type == 'load_feeder')
    {
        html = '<option value="">Select feeder</option>';
    }

   

    for(var count = 0; count < responseData.length; count++)
    {
        html += '<option value="'+responseData[count]+'">'+responseData[count]+'</option>';
    }

    child_element.innerHTML = html;
});
}

_('ss_code').onchange = function(){

fetch_data(_('ss_code'), _('feed_code'), 'load_feeder');

};




    
    </script>