<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get" action="show">
    <div>
     
            <input type="number" placeholder=" Enter Employee Id" id="EmpId "name="EmpId" required><br><br>
            <button type="submit">submit</button><br><br>
            
            
            <table>
            <tr>
                <th colspan="4"><h2>Pay Slip</h2></th>
            </tr>
            <tr>
                <td><h3>Employee ID </h3></td>
                <td colspan="3"><input type="number" class=" rounded " name="eid"id ="eid"></td>
            </tr>
        

           
        
        </table>
    </div>
</form>
</body>
</html>