<!DOCTYPE html>
<html>
    <head>
        <title>DTC Master</title>
    </head>
    <body>
        <h2>Enter  data</h2>

        <div>
            
<!DOCTYPE html>
<html lang="en">
<head>
    </head>
    <body>
        <form method="post" action="submastersubmit">
        <input type="number" placeholder="ss_code" id="ss_code" name="ss_code"><br><br>
        <input type="text" placeholder="ss_name" id="ss_name" name="ss_name"><br><br>
   
    
        <button type="submit">Submit</button>
          
           
    

        
     


</form>

    </body>
</html>